@media only screen and (max-width: 480px) {
   
    .logo{
        width:100%;
    }
    /* .search .input {
        width: 200px; 
    } */
    .footermenu {
        flex-direction: column;
        
    }

    .search-button  {
        display: flex;
        flex-direction: row;
    }
    .search{
        min-width: 40%;
    }
    /*.left,.right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    } */

    
    
  } 